<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hasil Upload</title>
</head>
<body>
    <h1>Hasil Penilaian</h1>

    <table border="1" width="80%" cellpadding="5" cellspacing="5">
        <thead>
        <tr>
            <th>NIM</th>
            <th>Nama</th>
            <th>Nilai</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="n : ${daftarNilai}">
            <td th:text="${n.nim}">NIM</td>
            <td th:text="${n.nama}">Nama</td>
            <td th:text="${n.nilai}">Nilai</td>
        </tr>
        </tbody>
    </table>

</body>
</html>